certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
click-aliases==1.0.5
detect-secrets==1.5.0
# Editable Git install with no remote (flowlet==0.1.0)
-e /home/nickisyourfan/Desktop/DEV/flowlet
idna==3.10
Pygments==2.19.2
python-dotenv==1.1.0
PyYAML==6.0.2
requests==2.32.4
urllib3==2.5.0
